/**
TODOS OS H COM ALINHAMENTO CENTRAL
*/

#container{
  padding: 10px;
}
h1,h2,h3,h4{
  text-align: center;
}

.description-box{
  width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.description-box > p:not(:first-child){
  text-indent: 2em;
}

.foot-note{
  text-align: right;
}

.questions {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.questions tr td:first-child{
  text-align: justify;
}

.button-group{
  text-align: center;
}

.question-p{
  font-weight:bold;
}

.options-group{
  padding-left: 25px;
}

#login-box{
  margin: 0 auto;
  width: 500px;
}

.justify{
  text-align: justify;
}