/**
TODOS OS H COM ALINHAMENTO CENTRAL
*/

#container{
  padding: 10px;
  height: 100%;
  /*
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-color: rgba(120, 42, 152, 1);
  z-index: -1; 
  */
}

#container .purple{
  background-color: rgba(120, 42, 152, 1);
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 50%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#container .blue{
  background-color: rgba(225, 237, 237, 1);
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 50%; /* Full height (cover the whole page) */
  top: 50%; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#content{
  padding: 25px;
  background-color: #FFF;
  z-index: 0;
}
h1,h2,h3{
  text-align: center;
}

.description-box{
  width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.description-box > p:not(:first-child){
  text-indent: 2em;
}

.foot-note{
  text-align: right;
}

.questions {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.questions tr td:first-child{
  text-align: justify;
}

.button-group{
  text-align: center;
}

.question-p{
  font-weight:bold;
}

.options-group{
  padding-left: 25px;
}

#login-box{
  margin: 0 auto;
  width: 500px;
}

.justify{
  text-align: justify;
}

/*.bg-purple{
  background-color: #782a98 !important;
}*/

.purple-text{
  color:rgba(120, 42, 152, 1);
}

.label{
  font-weight: bold;
}

.logo{
  width: 50%;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  color:white;
  background: #782a98;
  /*border: 2px solid #782a98;*/
  display:inline-block;
  text-align: center;

  /*font: 12px Arial, sans-serif;*/
}