<h1>{{ @label }} Lista de Participantes</h1>

<form action="/admin/participantes/adicionar" method="POST">
	<fieldset>
		<div class="form-group">
			<label for="questionarios">Turma</label>
			<input class="form-control" type="text" name="turma" required>
		</div>		
		<div class="form-group">
		  	<label for="universidade">E-mail</label>
			<div class="input-group mb-3">
				<input type="email" class="form-control" name="mailaluno" id="mailaluno" placeholder="E-mail" aria-label="E-mail">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" id="novomail" type="button"><span class="fa fa-plus"></span> Adicionar à lista</button>
				</div>
			</div>
		</div>
		<div class="form-group" id="maillist">
			<repeat group="{{ @convidados }}" value="{{ @convidado }}">
					<p>
						<input type="hidden" name="maillist[]" value="{{ @convidado.email }}"/> {{ @convidado.email }}
						<button type="button" class="btn btn-link remove-mail" onclick="remove(this)"><span class="fa fa-minus"></span></button>
					</p>
			</repeat>
		</div>
		<div class="form-group">
			<label for="questionarios">Questionários da Lista</label>
			<select multiple="" class="form-control" name="questionarios[]">
				<repeat group="{{  @questionarios }}" value="{{ @questionario }}">
					<option value="{{ @questionario.id }}">{{ @questionario.titulo }}</option>
				</repeat>
			</select>
		</div>
	</fieldset>
	<div class="button-group">
		<button type="submit" name="concluir" class="btn btn-primary">Incluir</button>
		<a href="/admin/participantes" class="btn btn-danger" role="button">Voltar</a>
	</div>	
</form>
<script type="text/javascript">
	
	$("#novomail").click(function(){
		var newmail = $("#mailaluno").val();
		$("#mailaluno").val('');
		if(newmail == "") return false;
		if($("#maillist:contains('"+newmail+"')").length > 0) return false;//ja existe o email na lista
		var htmltext = "<p><input type='hidden' name='maillist[]' value='"+newmail+"'/>"+newmail;
		htmltext+="<button type='button' class='btn btn-link remove-mail' onclick='remove(this)'><span class='fa fa-minus'></span></button></p>";
		$("#maillist").append(htmltext);
	});
	$('#remover').click(function(){
		$(this).parent().remove();
		//console.log((this).parent());
	});

	function remove(el){
		var parent = el.parentElement;
		var granpa = parent.parentElement;
		var node = parent.firstChild;
		while(node){
			parent.removeChild(node);
			node = parent.firstChild;
		}
		granpa.removeChild(parent);
	}
</script>