<h1 class="purple-text">Nova Universidade Participante</h1>
<form action="{{ @action }}" method="POST">
	<fieldset>
		<div class="form-row">
			<check if="{{ @error }}">
				<div class="alert alert-danger" role="alert">
				  <strong>Ocorreu um problema!</strong>
				</div>			
			</check>			
			<div class="form-group col-md-6">
			  <label for="universidade" class="label">Universidade</label>
			  <input type="text" class="form-control" name="universidade" value="{{ @uni.nome }}" id="universidade" required/>
			</div>
			<div class="form-group col-md-3">
			  <label for="responsavel" class="label">Prof. Responsável</label>
			  <input type="text" name="responsavel" class="form-control" value="{{ @uni.responsavel }}" id="responsavel"/>
			</div>
			<div class="form-group col-md-3">
			  <label for="desc_resp" class="label">Titulação Responsável</label>
			  <input type="text" name="desc_resp" class="form-control" value="{{ @uni.descricao_responsavel }}" id="desc_resp"/>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Contato do Comitê de Ética</legend>
		<div class="form-row">
			<div class="form-group col-md-6">
			  <label for="universidade" class="label">Endereço</label>
			  <input type="text" class="form-control" name="endereco" value="{{ @uni.endereco }}" id="endereco"/>
			</div>
			<div class="form-group col-md-6">
			  <label for="complemento" class="label">Complemento</label>
			  <input type="text" name="complemento" class="form-control" value="{{ @uni.complemento }}" id="complemento"/>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-2">
			  <label for="telefone" class="label">Telefone</label>
			  <input type="text" class="form-control" name="telefone" value="{{ @uni.telefone }}" id="telefone"/>
			</div>
			<div class="form-group col-md-2">
			  <label for="cep" class="label">CEP</label>
			  <input type="text" name="cep" class="form-control" value="{{ @uni.cep }}" id="cep"/>
			</div>
			<div class="form-group col-md-2">
			  <label for="estado" class="label">Estado</label>
			  <select name="estado" id="estado" class="form-control">
			  	<repeat group="{{ @estados }}" value="{{ @estado }}">
			  		<option value="{{ @estado.uf }}" <check if="{{ @uni.estado == @estado.uf }}">selected</check>>{{ @estado.nome }}</option>
			  	</repeat>
			  </select>
			</div>
			<div class="form-group col-md-6">
			  <label for="cidade" class="label">Cidade</label>
			  <select name="cidade" id="cidade" class="form-control">
			  	<option>Selecione um estado</option>
			  	<check if="{{ @cidades }}">
				  	<repeat group="{{ @cidades }}" value="{{ @cidade }}">
				  		<option value="{{ @cidade.id }}" <check if="{{ @uni.cidade == @cidade.id }}">selected</check>>{{ @cidade.nome }}</option>
				  	</repeat>			  		
			  	</check>
			  </select>
			</div>
		</div>
	</fieldset>
	<div class="button-group">
		<button type="submit" name="concluir" class="btn btn-primary">{{ @submit_button }}</button>
		<a href="/admin/universidades" class="btn btn-danger" role="button">Voltar</a>
	</div>
	<check if="{{ @uni.id}}">
		<input type="hidden" name="unicode" value="{{ @uni.id}}"/>
	</check>
	
</form>

<script type="text/javascript">
	$("#estado").change(function(){
		$.ajax({url:'/admin/listarCidades',
				type:'GET',
				data:{'uf':$(this).val()},
				dataType:'json',
				success:function(data){
					$("#cidade option").remove();
					for(var i in data){
						$("#cidade").append("<option value='"+data[i]['id']+"'>"+data[i]['nome']+"</option>");
					}
				}
			});
	})
</script>