<h1>Lista de Questões</h1>
<h3>Questionário {{ @questionario.titulo }}</h3>
<form action="/admin/questionarios/questoes/adicionar" method="POST">
	<div id="questoes" class="form-group">
		<label>Questão</label>
		<div class="input-group questao">
			<textarea class="form-control" name="aquestao" id="aquestao" aria-label="With textarea"></textarea>
			<input type="hidden" name="questionario" value="{{ @questionario.id }}">
			<div class="input-group-append">
				<button type="button" class="btn btn-primary" id="novaQuestao"><span class="fa fa-plus"></span></button>
			</div>		
		</div>
		<div id="listaquestoes">
			
		</div>
		<div class="button-group">
			<button type="submit" name="concluir" class="btn btn-primary">Salvar</button>
			<a href="/admin/questionarios" class="btn btn-danger" role="button">Cancelar</a>
		</div>	
	</div>
</form>

<script type="text/javascript">
	
	$("#novaQuestao").click(function(){
		console.log($("#aquestao").val());
		var node = "<div class=\"input-group\"><textarea class=\"form-control\" name=\"questoes[]\">"+$("#aquestao").val()+"</textarea>"+
		"<div class=\"input-group-append\">"+
		"<button type=\"button\" class=\"btn btn-danger\"><span class=\"fa fa-minus\"></span></button>"+
		"</div></div>";
		$("#listaquestoes").append(node);
		$("#aquestao").val("");
	});
	$('#remover').click(function(){
		$(this).parent().remove();
		//console.log((this).parent());
	});
</script>