<h1 class="purple-text">Lista de Questões</h1>
<h3 class="purple-text">Questionário {{ @questionario.titulo }}</h3>
<form action="/admin/questionarios/questoes/adicionar" method="POST">
	<div id="questoes" class="form-group">
		<div id="listaquestoes">
			<repeat group="{{ @questoes }}" value="{{ @questao }}">
				<p>
					<div class="input-group questao">{{ @questao.ordem }}. 
						<textarea class="form-control" name="{{ @questao.id }}" id="{{ @questao.id }}" aria-label="With textarea">{{ @questao.questao }}</textarea>
						<div class="input-group-append">
							<button type="button" class="btn btn-info" onclick="updateQuestao({{ @questao.id }})"><span class="fa fa-edit"></span></button>
						</div>
					</div>
				</p>
			</repeat>
			
		</div>
		<check if="{{ @questoes }}">
			<false>
			<label class="label">Nova Questão</label>
			<div class="input-group questao">
				<textarea class="form-control" name="aquestao" id="aquestao" aria-label="With textarea"></textarea>
				<input type="hidden" name="questionario" id="questionario" value="{{ @questionario.id }}">
				<div class="input-group-append">
					<button type="button" class="btn btn-primary" id="novaQuestao"><span class="fa fa-plus"></span></button>
				</div>
			</div>
			</false>		
		</check>
		<div class="button-group">
			<check if="{{ @questoes }}">
				<false>
					<button type="submit" name="concluir" class="btn btn-primary">Salvar</button>
				</false>
			</check>
			<a href="/admin/questionarios" class="btn btn-danger" role="button">Cancelar</a>
		</div>		
	</div>
</form>

<script type="text/javascript">
	
	$("#novaQuestao").click(function(){
		console.log($("#aquestao").val());
		var node = "<p><div class=\"input-group\"><textarea class=\"form-control\" name=\"questoes[]\">"+$("#aquestao").val()+"</textarea>"+
		"<div class=\"input-group-append\">"+
		"<button type=\"button\" class=\"btn btn-danger\"><span class=\"fa fa-minus\"></span></button>"+
		"</div></div></p>";
		$("#listaquestoes").append(node);
		$("#aquestao").val("");
	});
	$('#remover').click(function(){
		$(this).parent().remove();
	});

	function updateQuestao(id){
		console.log($("#"+id).val());
		$.ajax({'url':'/admin/questionarios/questoes/editar/'+$("#questionario").val(),
				'method':'POST',
				'dataType':'json',
				'data':{'id':id,'questao':$("#"+id).val()},
				'success':alert("Questao Atualizada")});
	}
</script>