<h1 class="purple-text">Relatórios Estatísticos</h1>

<form action="/admin/relatorio" method="POST" enctype="multipart/form-data">
	<check if="{{ @error }}">
		<div class="alert alert-danger" role="alert">
		  <strong>Ocorreu um problema!</strong> {{@error}}
		</div>			
	</check>	
	<fieldset>
		<legend>Filtros</legend>
		<div class="form-group">
			<label for="questionario">Questionário</label>
			<select id="questionario" class="form-control" name="questionario" required>
				<option value="-1">Todos</option>
				<repeat group="{{ @questionarios }}" value="{{ @questionario }}">
					<option value="{{ @questionario.id }}">{{ @questionario.titulo }}</option>
				</repeat>
			</select>
		</div>
		<div class="form-group">
			<label for="universidade">Turma</label>
			<select id="universidade" class="form-control" name="universidade" required>
				<option value="-1">Todas</option>
				<repeat group="{{ @turmas }}" value="{{ @turma }}">
					<option value="{{ @turma.id }}">{{ @turma.titulo }}</option>
				</repeat>
			</select>
		</div>		
		<div class="form-group">
			<label for="universidade">Universidade</label>
			<select id="universidade" class="form-control" name="universidade" required>
				<option value="-1">Todas</option>
				<repeat group="{{ @universidades }}" value="{{ @universidade }}">
					<option value="{{ @universidade.id }}">{{ @universidade.nome }}</option>
				</repeat>
			</select>
		</div>
		<div class="form-group">
			<label for="curso">Curso</label>
			<select id="curso" class="form-control" name="curso" required>
				<option value="-1">Todos</option>
				<repeat group="{{ @cursos }}" value="{{ @curso }}">
					<option value="{{ @curso.id }}">{{ @curso.nome }}</option>
				</repeat>
			</select>
		</div>
		<div class="form-group">
			<label for="genero">Gênero</label>
			<select name="genero" class="form-control" id="genero">
				<option value="-1">Todos</option>
				<option value="F">Feminino</option>
				<option value="M">Masculino</option>
				<option value="O">Outro</option>
			</select>
		</div>
		<div class="form-group">
			<label for="upload">Enviar relatorio do LASSI</label>
			<input type="file" class="form-control" name="upload" id="upload"/>
		</div>
		<div class="form-group">
			<input type="checkbox" name="join" id="join"/> <label for="join">Desejo que o sistema una seus dados com o relatorio do LASSI.</label>
		</div>		
	</fieldset>
	<div class="button-group">
		<button type="submit" name="concluir" class="btn btn-primary">Gerar Relatório</button>
		<button type="reset" name="limpar" class="btn btn-default">Limpar Filtros</a>
	</div>


</form>