<h1>Questionários</h1>

<div class="button-group">
	<a href="/admin/questionarios/novo" class="btn btn-link" role="button">Adicionar Questionário</a>
</div>
<table class="table">
	<thead>
		<th>Questionario</th>
		<th>Ações</th>
	</thead>
	<tbody>
		<repeat group="{{ @questionarios }}" value="{{ @questionario }}">
			
				<tr>
					<td>{{ @questionario.titulo }}</td>
					<td>
						<a href="/admin/questionarios/editar/{{ @questionario.id }}" onclick="alert('Não implementado');return false;" class="btn btn-info" role="button">Editar</a>
						&nbsp;
						<a href="/admin/questionarios/editarquestoes/{{ @questionario.id }}" onclick="alert('Não implementado');return false;" class="btn btn-info" role="button">Editar Questões</a>
						&nbsp;						
						<a href="/admin/questionarios/deletar/{{ @questionario.id }}" onclick="alert('Não implementado');return false;" class="btn btn-danger" role="button">Remover</a>
					</td>
				</tr>
			
		</repeat>
	</tbody>
</table>
