<nav class="navbar navbar-expand-lg navbar-dark bg-purple">
  <a class="navbar-brand" href="#">
    <img src="/img/logo.png" width="380">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{ @home }}">
        <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></check></a>
      </li>
      <li class="nav-item {{ @sobre }} dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sobre a Pesquisa
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" target="_blank" href="/sobre/info">Informações Gerais</a>
          <a class="dropdown-item" target="_blank" href="/sobre/universidades">Universidades Participantes</a>
        </div>
      </li>
      <li class="nav-item {{ @contato }}">
        <a class="nav-link" target="_blank" href="/contato">Contato</a>
      </li>
    </ul>
    <check if="{{ @SESSION.idusr }}">
      <ul class="nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user"></span> {{ @SESSION.nomeusr }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Relatórios</a>
            <h6 class="dropdown-header">Cadastros <span class="fa fa-sort-down purple-text"></span></h6>
            <a class="dropdown-item" href="/admin/universidades">Universidades</a>
            <a class="dropdown-item" href="/admin/participantes">Listas de Participantes</a>
            <a class="dropdown-item" href="/admin/questionarios">Questionários</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin/logout"><span class="fa fa-power-off"></span> Sair</a>
          </div>
        </li>
      </ul>
    </check>

  </div>
</nav>