<nav class="navbar navbar-expand-lg navbar-dark bg-purple">
  <a class="navbar-brand" href="#">
    <img src="/img/logo.png" width="180" height="80">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sobre a Pesquisa
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" target="_blank" href="/sobre/info">Informações Gerais</a>
          <a class="dropdown-item" target="_blank" href="/sobre/universidades">Universidades Participantes</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="/contato">Contato</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="#">Relatórios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/universidades">Comissoes de Universidades</a>
          <a class="dropdown-item" href="/admin/participantes">Lista de Participantes</a>
          <a class="dropdown-item" href="/admin/questionarios">Questionários</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-user"></span> {{ @SESSION.nomeusr }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/logout"><span class="fa fa-power-off"></span> Sair</a>
        </div>
      </li>
    </ul>

  </div>
</nav>