<h1>BREVE ESCALA DE REGULAÇÃO DA MOTIVAÇÃO (BERM)</h1>
<p class="foot-note">Autores: Yeo-eun Kim, Anna C. Brady, Christopher A. Wolters (2018)</p>
<p class="foot-note">
  Tradução e adaptação consentida realizada: Evely Boruchovitch, Carolina Moreira Felicori, Natália Moraes Góes (2018)
</p>
<div class="description-box">
  <p>
    Leia cada afirmação cuidadosamente e, então, indique quão bem ela descreve o que você faz quando está lendo, estudando 
    ou fazendo tarefas das disciplinas que está cursando nesse semestre. Seja honesto(a); não existem respostas certas ou erradas. 
  </p>
  <p>
    Opções de resposta:
  </p>
  <p>( ) Discordo fortemente.</p>
  <p>( ) Discordo.</p>
  <p>( ) Sou neutro (Não discordo nem concordo).</p>
  <p>( ) Concordo.</p>
  <p>( ) Concordo fortemente.</p>
</div>
<div id="questions-container">
  <form accept="" method="POST">
    <p>
      1. Uso diferentes estratégias para me manter estudando, mesmo que eu não tenha vontade de estudar.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm1" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm1" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm1" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm1" value="4"/> Concordo</p>
      <p><input type="radio" name="berm1" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      2. Se perco o interesse em uma tarefa, tenho maneiras de aumentar o meu esforço para realizá-la.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm2" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm2" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm2" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm2" value="4"/> Concordo</p>
      <p><input type="radio" name="berm2" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      3. Se eu sinto vontade de parar de estudar, antes de realmente terminar, tenho estratégias para continuar estudando.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm3" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm3" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm3" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm3" value="4"/> Concordo</p>
      <p><input type="radio" name="berm3" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      4. Mesmo quando estudar é difícil, encontro uma maneira de continuar estudando.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm4" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm4" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm4" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm4" value="4"/> Concordo</p>
      <p><input type="radio" name="berm4" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      5. É fácil eu permanecer estudando, mesmo que eu prefira estar fazendo alguma outra coisa.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm5" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm5" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm5" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm5" value="4"/> Concordo</p>
      <p><input type="radio" name="berm5" value="5"/> Concordo fortemente.</p>
    </div>

    <p>
      6. Se o que estudo não me parece importante, mesmo assim, consigo continuar estudando. 
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm6" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm6" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm6" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm6" value="4"/> Concordo</p>
      <p><input type="radio" name="berm6" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      7. Se eu prbermsar, tenho maneiras de me convencer a continuar fazendo uma tarefa difícil.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm7" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm7" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm7" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm7" value="4"/> Concordo</p>
      <p><input type="radio" name="berm7" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      8. Se estudar fica muito chato, encontro uma maneira de tornar o estudo divertido.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm8" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm8" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm8" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm8" value="4"/> Concordo</p>
      <p><input type="radio" name="berm8" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      9. Mesmo que uma leitura pareça muito sem sentido, obrigo-me a continuar lendo até terminá-la.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm9" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm9" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm9" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm9" value="4"/> Concordo</p>
      <p><input type="radio" name="berm9" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      10. Se uma leitura é difícil, mesmo assim, encontro uma forma de me manter engajado(a) e de terminá-la. 
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm10" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm10" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm10" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm10" value="4"/> Concordo</p>
      <p><input type="radio" name="berm10" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      11. Eu me obrigo a me manter lendo, mesmo quando a leitura é realmente chata.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm11" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm11" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm11" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm11" value="4"/> Concordo</p>
      <p><input type="radio" name="berm11" value="5"/> Concordo fortemente.</p>
    </div>
    <p>
      12. Consigo me obrigar a continuar lendo, mesmo que eu sinta vontade de desistir da leitura.
    </p>
    <div class="options-group">
      <p><input type="radio" name="berm12" value="1"/> Discordo fortemente.</p>
      <p><input type="radio" name="berm12" value="2"/> Discordo.</p>
      <p><input type="radio" name="berm12" value="3"/> Sou neutro.</p>
      <p><input type="radio" name="berm12" value="4"/> Concordo</p>
      <p><input type="radio" name="berm12" value="5"/> Concordo fortemente.</p>
    </div>
    <div class="button-group">
      <button type="submit" class="btn btn-info" name="responder">Responder</button>
    </div>    
  </form>
</div>