<h1>Dados Pessoais</h1>

<form action="" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" name="nome" id="nome" required/>
    </div>
    <div class="form-group col-md-6">
      <label for="ra">RA</label>
      <input type="text" name="ra" class="form-control" id="ra" required/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="mail">e-mail</label>
      <input type="email" class="form-control" name="email" id="email" value="{{ @email }}" required/>
    </div>
    <div class="form-group col-md-3">
      <label for="nasc">Data de Nascimento</label>
      <input type="date" class="form-control" max="2000-08-01" name="nasc" id="nasc" required/>
    </div>
    <div class="form-group col-md-3">
      <label for="genero">Gênero</label>
      <select name="genero" class="form-control" id="genero">
        <option value="F">Feminino</option>
        <option value="M">Masculino</option>
        <option value="O">Outro</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="universidade">Universidade</label>
      <select id="universidade" class="form-control" name="universidade" required>
        <repeat group="{{ @universidades }}" value="{{ @universidade }}">
          <option value="{{ @universidade.id }}">{{ @universidade.nome }}</option>
        </repeat>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="curso">Curso</label>
      <select id="curso" nome="curso" class="form-control" required>
        <repeat group="{{ @cursos }}" value="{{ @curso }}">
          <option value="{{ @curso.id }}">{{ @curso.nome }}</option>
        </repeat>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      Período
      <div class="row">
        <div class="col-md-6">
          <input type="radio" name="periodo" id="i" value="I"/> <label form="i">Integral</label>
        </div>
        <div class="col-md-6">
          <input type="radio" name="periodo" id="m" value="M"/> <label form="m">Matutino</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="radio" name="periodo" id="v" value="V"/> <label form="v">Vespertino</label>
        </div>
        <div class="col-md-6">
          <input type="radio" name="periodo" id="n" value="N"/> <label form="n">Noturno</label>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="semestre">Semestre</label>
      <select id="semestre" class="form-control" name="semestre" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      Cursei o Ensino médio em
      <div class="row">
        <div class="col-md-4">
          <input type="radio" name="tipoEnsino" id="pub" value="1"/> <label form="pub">Escola Pública</label>
        </div>
        <div class="col-md-4">
          <input type="radio" name="tipoEnsino" id="part" value="2"/> <label form="part">Escola Particular</label>
        </div>
        <div class="col-md-4">
          <input type="radio" name="tipoEnsino" id="both" value="3"/> <label form="both">Uma parte em escola pública e outra em particular</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row button-group">
    <div class="col-md-12">
      <button type="submit" name="concluir" class="btn btn-primary">Concluir</button>
    </div>
  </div>
</form>
