<h1>ESCALA DE CONCEPÇÕES DE INTELIGÊNCIA (Dweck, 2006)</h1>
<h4>Traduzida e adaptada por Evely Boruchovitch (2009 - revisada, 2018)</h4>
<div class="description-box">
  <p>
    Gostaríamos de conhecer o que você pensa sobre inteligência. Pense no que você acredita sobre sua
    inteligência e marque a opção que melhor representa a sua opinião. Não há respostas certas ou
    erradas. Nós estamos interessados em saber o que você realmente pensa e acredita.
  </p>
</div>
<div id="questions-container">
  <form action="" method="POST">
    <p class="question-p">
      1. Você tem uma certa quantidade de inteligência e você não pode realmente fazer muita coisa para modificá-la (o).
    </p>
    <div class="options-group">
      <p><input type="radio" name="eci1" value="1" /> Concordo plenamente.</p>
      <p><input type="radio" name="eci1" value="2" /> Concordo.</p>
      <p><input type="radio" name="eci1" value="3" /> Concordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci1" value="4" /> Discordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci1" value="5" /> Discordo</p>
      <p><input type="radio" name="eci1" value="6" /> Discordo plenamente.</p>
    </div>
    <p class="question-p">
      2. A sua inteligência é algo a seu respeito que você não pode mudar muito.
    </p>
    <div class="options-group">
      <p><input type="radio" name="eci2" value="1" /> Concordo plenamente.</p>
      <p><input type="radio" name="eci2" value="2" /> Concordo.</p>
      <p><input type="radio" name="eci2" value="3" /> Concordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci2" value="4" /> Discordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci2" value="5" /> Discordo</p>
      <p><input type="radio" name="eci2" value="6" /> Discordo plenamente.</p>
    </div>
    <p class="question-p">
      3. Não importa quem você é, você pode mudar significativamente o seu nível de inteligência.
    </p>
    <div class="options-group">
      <p><input type="radio" name="eci3" value="1" /> Concordo plenamente.</p>
      <p><input type="radio" name="eci3" value="2" /> Concordo.</p>
      <p><input type="radio" name="eci3" value="3" /> Concordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci3" value="4" /> Discordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci3" value="5" /> Discordo</p>
      <p><input type="radio" name="eci3" value="6" /> Discordo plenamente.</p>
    </div>
    <p class="question-p">
      4. Para ser sincero, você não pode realmente mudar o quão inteligente você é.
    </p>
    <div class="options-group">
      <p><input type="radio" name="eci4" value="1" /> Concordo plenamente.</p>
      <p><input type="radio" name="eci4" value="2" /> Concordo.</p>
      <p><input type="radio" name="eci4" value="3" /> Concordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci4" value="4" /> Discordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci4" value="5" /> Discordo</p>
      <p><input type="radio" name="eci4" value="6" /> Discordo plenamente.</p>
    </div>
    <p class="question-p">
      5. Você sempre pode mudar substancialmente o quão inteligente você é.
    </p>
    <div class="options-group">
      <p><input type="radio" name="eci5" value="1" /> Concordo plenamente.</p>
      <p><input type="radio" name="eci5" value="2" /> Concordo.</p>
      <p><input type="radio" name="eci5" value="3" /> Concordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci5" value="4" /> Discordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci5" value="5" /> Discordo</p>
      <p><input type="radio" name="eci5" value="6" /> Discordo plenamente.</p>
    </div>
    <p class="question-p">
      6. Você pode aprender coisas novas, mas não pode realmente mudar a sua inteligência.
    </p>
    <div class="options-group">
      <p><input type="radio" name="eci6" value="1" /> Concordo plenamente.</p>
      <p><input type="radio" name="eci6" value="2" /> Concordo.</p>
      <p><input type="radio" name="eci6" value="3" /> Concordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci6" value="4" /> Discordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci6" value="5" /> Discordo</p>
      <p><input type="radio" name="eci6" value="6" /> Discordo plenamente.</p>
    </div>
    <p class="question-p">
      7. Não importa quanto de inteligência você tem, você sempre pode modificá-la um pouco.
    </p>
    <div class="options-group">
      <p><input type="radio" name="eci7" value="1" /> Concordo plenamente.</p>
      <p><input type="radio" name="eci7" value="2" /> Concordo.</p>
      <p><input type="radio" name="eci7" value="3" /> Concordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci7" value="4" /> Discordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci7" value="5" /> Discordo</p>
      <p><input type="radio" name="eci7" value="6" /> Discordo plenamente.</p>
    </div>
    <p class="question-p">
      8. Você pode mudar consideravelmente o seu nível de inteligência.
    </p>
    <div class="options-group">
      <p><input type="radio" name="eci8" value="1" /> Concordo plenamente.</p>
      <p><input type="radio" name="eci8" value="2" /> Concordo.</p>
      <p><input type="radio" name="eci8" value="3" /> Concordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci8" value="4" /> Discordo na maior parte das vezes.</p>
      <p><input type="radio" name="eci8" value="5" /> Discordo</p>
      <p><input type="radio" name="eci8" value="6" /> Discordo plenamente.</p>       
    </div>
    <div class="button-group">
      <button type="submit" class="btn btn-info" name="responder">Responder</button>
    </div>    
  </form>
</div>