<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script type="text/javascript" src="jquery-3.3.1.js"></script>
    <script type="text/javascript" src="popper.js"></script>
    <script type="text/javascript" src="bootstrap-4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap-4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="container">
      <h1>ESCALA DE CONCEPÇÕES DE INTELIGÊNCIA (Dweck, 2006)</h1>
      <h4>Traduzida e adaptada por Evely Boruchovitch (2009 - revisada, 2018)</h4>
      <div class="description-box">
        <p>
          Gostaríamos de conhecer o que você pensa sobre inteligência. Pense no que você acredita sobre sua
          inteligência e marque a opção que melhor representa a sua opinião. Não há respostas certas ou
          erradas. Nós estamos interessados em saber o que você realmente pensa e acredita.
        </p>
      </div>
      <div id="questions-container">
        <p>
          1. Você tem uma certa quantidade de inteligência e você não pode realmente fazer muita coisa para modificá-la (o).
        </p>
        <p><input type="radio" name="eci2" /> Concordo plenamente.</p>
        <p><input type="radio" name="eci2" /> Concordo.</p>
        <p><input type="radio" name="eci2" /> Concordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci2" /> Discordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci2" /> Discordo</p>
        <p><input type="radio" name="eci2" /> Discordo plenamente.</p>

        <p>
          2. A sua inteligência é algo a seu respeito que você não pode mudar muito.
        </p>
        <p><input type="radio" name="eci3" /> Concordo plenamente.</p>
        <p><input type="radio" name="eci3" /> Concordo.</p>
        <p><input type="radio" name="eci3" /> Concordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci3" /> Discordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci3" /> Discordo</p>
        <p><input type="radio" name="eci3" /> Discordo plenamente.</p>
        <p>
          3. Não importa quem você é, você pode mudar significativamente o seu nível de inteligência.
        </p>
        <p><input type="radio" name="eci1" /> Concordo plenamente.</p>
        <p><input type="radio" name="eci1" /> Concordo.</p>
        <p><input type="radio" name="eci1" /> Concordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci1" /> Discordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci1" /> Discordo</p>
        <p><input type="radio" name="eci1" /> Discordo plenamente.</p>
        <p>
          4. Para ser sincero, você não pode realmente mudar o quão inteligente você é.
        </p>
        <p><input type="radio" name="eci4" /> Concordo plenamente.</p>
        <p><input type="radio" name="eci4" /> Concordo.</p>
        <p><input type="radio" name="eci4" /> Concordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci4" /> Discordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci4" /> Discordo</p>
        <p><input type="radio" name="eci4" /> Discordo plenamente.</p>
        <p>
          5. Você sempre pode mudar substancialmente o quão inteligente você é.
        </p>
        <p><input type="radio" name="eci5" /> Concordo plenamente.</p>
        <p><input type="radio" name="eci5" /> Concordo.</p>
        <p><input type="radio" name="eci5" /> Concordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci5" /> Discordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci5" /> Discordo</p>
        <p><input type="radio" name="eci5" /> Discordo plenamente.</p>

        <p>
          6. Você pode aprender coisas novas, mas não pode realmente mudar a sua inteligência.
        </p>
        <p><input type="radio" name="eci6" /> Concordo plenamente.</p>
        <p><input type="radio" name="eci6" /> Concordo.</p>
        <p><input type="radio" name="eci6" /> Concordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci6" /> Discordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci6" /> Discordo</p>
        <p><input type="radio" name="eci6" /> Discordo plenamente.</p>
        <p>
          7. Não importa quanto de inteligência você tem, você sempre pode modificá-la um pouco.
        </p>
        <p><input type="radio" name="eci7" /> Concordo plenamente.</p>
        <p><input type="radio" name="eci7" /> Concordo.</p>
        <p><input type="radio" name="eci7" /> Concordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci7" /> Discordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci7" /> Discordo</p>
        <p><input type="radio" name="eci7" /> Discordo plenamente.</p>
        <p>
          8. Você pode mudar consideravelmente o seu nível de inteligência.
        </p>
        <p><input type="radio" name="eci8" /> Concordo plenamente.</p>
        <p><input type="radio" name="eci8" /> Concordo.</p>
        <p><input type="radio" name="eci8" /> Concordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci8" /> Discordo na maior parte das vezes.</p>
        <p><input type="radio" name="eci8" /> Discordo</p>
        <p><input type="radio" name="eci8" /> Discordo plenamente.</p>       
      </div>
      <div class="button-group">
        <button type="submit" class="btn btn-info" name="responder">Responder</button>
      </div>
    </div>
  </body>
</html>
