<h1>ESCALA DE AUTO-EFICÁCIA PARA A APRENDIZAGEM*</h1>
<h4>*Tradução consentida de Self-efficacy for Learning Form de Zimmerman e Kitsantas (2005) feita por  Evely  Boruchovitch e Danielle Ribeiro Ganda ( 2010).</h4>
<div class="description-box">
  <p><u>Instruções:</u> Usando a escala fornecida, por favor, indique, em percentuais, quanto cada uma das afirmações seguintes reflete como você geralmente é.
    Não há respostas certas ou erradas.</p>
  <p>
    <table class="table">
      <thead>
        <th colspan="2">Definitivamente não sou capaz de fazer</th>
        <th colspan="2">Provavelmente não</th>
        <th colspan="2">Talvez</th>
        <th colspan="2">Provavelmente sim</th>
        <th colspan="2">Definitivamente sou capaz de fazer</th>
      </thead>
      <tbody>
        <tr>
          <td>0%</td>
          <td>10%</td>
          <td>20%</td>
          <td>30%</td>
          <td>40%</td>
          <td>50%</td>
          <td>60%</td>
          <td>70%</td>
          <td>80%</td>
          <td>90%</td>
          <td>100%</td>

        </tr>
      </tbody>

    </table>
</p>
</div>
<form action=""  method="POST">
  <table class="table questions">
    <thead>
      <th> </th>
      <th>Range</th>
      <!--<th>1 Não tem nada a ver comigo</th>
      <th>2 Tem pouco a ver comigo</th>
      <th>3 Me descreve bem</th>
      <th>4 Me descreve realmente bem</th>-->
    </thead>
    <tbody>
      <tr>
        <td>1. Quando você falta a uma aula, você é capaz de encontrar outro aluno que pode lhe explicar a matéria tão claramente quanto foi feito pelo professor?</td>
        <td>
          <input type="range" name="autoeficacia1" min="0" max="100" step="10" class="slider"/>
          <br><span></span>
        </td>
      </tr>
      <tr>
        <td>2. Quando a aula do seu professor é muito complexa, você é capaz de escrever um resumo eficiente de suas anotações originais antes da próxima aula?</td>
        <td><input type="range" name="autoeficacia2" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>3. Quando a aula é particularmente chata, você é capaz de se motivar para manter boas anotações?</td>
        <td><input type="range" name="autoeficacia3" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>4. Quando você tem problemas em entender a aula de seu professor, você é capaz de esclarecer sua dúvida antes da próxima aula, comparando as suas anotações com um colega de sala?</td>
        <td><input type="range" name="autoeficacia4" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>5. Quando você tem problemas para estudar com suas anotações porque elas estão incompletas ou confusas, você é capaz de revisá-las e reescrevê-las de modo claro após cada aula?</td>
        <td><input type="range" name="autoeficacia5" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>6. Quando você está fazendo uma disciplina que abrange uma grande quantidade de conteúdo, você é capaz de condensar suas anotações somente aos fatos essenciais?</td>
        <td><input type="range" name="autoeficacia6" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>7. Quando você está tentando entender um assunto novo, você é capaz de associar os novos conceitos com os antigos suficientemente bem para recordá-los?</td>
        <td><input type="range" name="autoeficacia7" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>8. Quando outro aluno pede-lhe para estudar juntos para uma disciplina na qual você está tendo dificuldade, você é capaz de ser um parceiro de estudo eficiente?</td>
        <td><input type="range" name="autoeficacia8" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>9. Quando problemas com amigos e colegas entram em conflito com o trabalho acadêmico, você é capaz de manter suas tarefas em dia?</td>
        <td><input type="range" name="autoeficacia9" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>10. Quando você sente uma alteração de humor ou inquietação durante o estudo, você é capaz de focalizar sua atenção suficientemente bem para terminar as tarefas que foram passadas?</td>
        <td><input type="range" name="autoeficacia10" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>11. Quando você percebe que está cada vez mais atrasado em uma nova disciplina, você é capaz de aumentar seu tempo de estudo suficientemente para recuperar o atraso?</td>
        <td><input type="range" name="autoeficacia11" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>12. Quando você descobre que as suas tarefas para o semestre são muito mais longas que o esperado, você é capaz de mudar as suas prioridades para ter tempo suficiente para estudar?</td>
        <td><input type="range" name="autoeficacia12" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>13. Quando você tem dificuldade em relembrar um conceito abstrato, você é capaz de pensar num bom exemplo que possa lhe ajudar a lembrá-lo na prova?</td>
        <td><input type="range" name="autoeficacia13" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>14. Quando você tem que fazer uma prova sobre uma matéria que você não gosta, você é capaz de encontrar uma forma de se motivar para tirar uma boa nota?</td>
        <td><input type="range" name="autoeficacia14" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>15. Quando você está se sentindo deprimido por uma prova a ser feita em breve, você é capaz de encontrar uma forma de se motivar para fazê-lo bem?</td>
        <td><input type="range" name="autoeficacia15" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>16. Quando os resultados da sua última prova são ruins, você é capaz de imaginar, antes de um próximo teste, quais são as possíveis questões que poderão melhorar consideravelmente sua nota?</td>
        <td><input type="range" name="autoeficacia16" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>17. Quando você está se esforçando para lembrar detalhes técnicos de um conceito para uma prova, você é capaz de encontrar um jeito de associá-los de forma que lhe assegure relembrá-los?</td>
        <td><input type="range" name="autoeficacia17" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>18. Quando você acha que foi mal numa prova que acabou de fazer, você é capaz de retomar suas anotações e localizar todas as informações que você tinha esquecido?</td>
        <td><input type="range" name="autoeficacia18" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
      <tr>
        <td>19. Quando você percebe que teve de se “matar de estudar” no último minuto para uma prova, você começa a se preparar com antecedência para que não precise fazer isso de novo?</td>
        <td><input type="range" name="autoeficacia19" min="0" max="100" step="10" class="slider"/><br><span></span></td>
      </tr>
    </tbody>
  </table>
  <div class="button-group">
    <button type="submit" class="btn btn-info" name="responder">Responder</button>
  </div>
</form>
<script type="text/javascript">
  $('.slider').change(function(){
      $(this).parent().children("span").html("<strong>"+$(this).val()+"%</strong>");
  });
</script>