<h1>ESCALA DE ESTRATÉGIAS AUTOPREJUDICIAIS</h1>
<h4>Evely Boruchovitch &amp; Danielle Ribeiro Ganda, 2013b1</h4>
<div class="description-box">
  <p>Alguns alunos, sem se dar conta, empregam determinadas estratégias durante sua vida acadêmica que acabam
    funcionando como uma “desculpa” para seu mau desempenho na universidade. Esta escala tem o objetivo de conhecer
    o possível uso destas estratégias por estudantes.</p>
  <p>Você deve ler com atenção cada item, pensar em como a situação proposta lhe descreve e marcar um X na lacuna.
    Lembre-se que quanto mais próximo do 1 você marcar, isso significará que aquela situação tem pouco a ver com você. Já quanto
    mais próximo de 4, mais a situação descreve como você é. Nesta escala não existem respostas certas ou erradas, apenas queremos
    saber se essas situações acontecem com você. Ressaltamos que as respostas são totalmente confidenciais. Por favor, seja o mais
    sincero (a) possível.</p>
</div>
<form action="" method="POST">
  <table class="table questions">
    <thead>
      <th> </th>
      <th>1<br>Não tem nada a ver comigo</th>
      <th>2<br>Tem pouco a ver comigo</th>
      <th width="8%">3<br>Me descreve bem</th>
      <th>4<br>Me descreve realmente bem</th>
    </thead>
    <tbody>
      <tr>
        <td>1. Alguns alunos deixam para estudar nas vésperas da prova. Caso se saiam mal, dizem que não tiveram tempo suficiente para estudar toda a matéria.</td>
        <td><input type="radio" name="autoprejud1" value="1"/></td>
        <td><input type="radio" name="autoprejud1" value="2"/></td>
        <td><input type="radio" name="autoprejud1" value="3"/></td>
        <td><input type="radio" name="autoprejud1" value="4"/></td>
      </tr>
      <tr>
        <td>2. Alguns alunos não estudam com afinco e quando se saem mal, dizem que não é possível obter bons resultados, pois a carga horária do seu
          curso é muito pesada.
        </td>
        <td><input type="radio" name="autoprejud2" value="1"/></td>
        <td><input type="radio" name="autoprejud2" value="2"/></td>
        <td><input type="radio" name="autoprejud2" value="3"/></td>
        <td><input type="radio" name="autoprejud2" value="4"/></td>
      </tr>
      <tr>
        <td>3. Alguns alunos ficam mexendo no celular, durante as aulas. Caso não tenham um bom resultado dizem que foi porque não entenderam a explicação do professor.</td>
        <td><input type="radio" name="autoprejud3" value="1"/></td>
        <td><input type="radio" name="autoprejud3" value="2"/></td>
        <td><input type="radio" name="autoprejud3" value="3"/></td>
        <td><input type="radio" name="autoprejud3" value="4"/></td>
      </tr>
      <tr>
        <td>4. Alguns estudantes saem frequentemente de sala de aula. Caso tirem uma nota baixa na prova, dizem que foi porque perderam conteúdos importantes.</td>
        <td><input type="radio" name="autoprejud4" value="1"/></td>
        <td><input type="radio" name="autoprejud4" value="2"/></td>
        <td><input type="radio" name="autoprejud4" value="3"/></td>
        <td><input type="radio" name="autoprejud4" value="4"/></td>
      </tr>
      <tr>
        <td>5. Alguns alunos saem para passear mesmo quando têm de fazer um trabalho importante. Caso se saiam mal, dizem que tiveram pouco tempo para realizá-lo.</td>
        <td><input type="radio" name="autoprejud5" value="1"/></td>
        <td><input type="radio" name="autoprejud5" value="2"/></td>
        <td><input type="radio" name="autoprejud5" value="3"/></td>
        <td><input type="radio" name="autoprejud5" value="4"/></td>
      </tr>
      <tr>
        <td>6. Alguns alunos envolvem-se propositalmente em muitas atividades. Se não se saírem bem na universidade, dizem que estiveram muito ocupados com outras coisas.</td>
        <td><input type="radio" name="autoprejud6" value="1"/></td>
        <td><input type="radio" name="autoprejud6" value="2"/></td>
        <td><input type="radio" name="autoprejud6" value="3"/></td>
        <td><input type="radio" name="autoprejud6" value="4"/></td>
      </tr>
      <tr>
        <td>7. Alguns estudantes participam de várias festas mesmo quando têm de entregar um trabalho importante. Caso o resultado não seja bom, dizem que a proposta
          do trabalho era muito complexa.
        </td>
        <td><input type="radio" name="autoprejud7" value="1"/></td>
        <td><input type="radio" name="autoprejud7" value="2"/></td>
        <td><input type="radio" name="autoprejud7" value="3"/></td>
        <td><input type="radio" name="autoprejud7" value="4"/></td>
      </tr>
      <tr>
        <td>8. Alguns alunos conversam com os colegas durante a aula. Caso não se saiam bem na disciplina, dizem que os amigos os distraíram. </td>
        <td><input type="radio" name="autoprejud8" value="1"/></td>
        <td><input type="radio" name="autoprejud8" value="2"/></td>
        <td><input type="radio" name="autoprejud8" value="3"/></td>
        <td><input type="radio" name="autoprejud8" value="4"/></td>
      </tr>
      <tr>
        <td>9. Alguns alunos sempre deixam para depois o estudo e a realização de trabalhos acadêmicos, às vezes, chegando ao ponto de não realizá-los.
          Caso se saiam mal na disciplina, dizem que foi por falta de tempo.
        </td>
        <td><input type="radio" name="autoprejud9" value="1"/></td>
        <td><input type="radio" name="autoprejud9" value="2"/></td>
        <td><input type="radio" name="autoprejud9" value="3"/></td>
        <td><input type="radio" name="autoprejud9" value="4"/></td>
      </tr>
      <tr>
        <td>10. Alguns alunos não leem os textos recomendados pelos professores, antes das aulas. Caso se saiam mal na avaliação, dizem que foi porque
          os textos eram muito chatos.
        </td>
        <td><input type="radio" name="autoprejud10" value="1"/></td>
        <td><input type="radio" name="autoprejud10" value="2"/></td>
        <td><input type="radio" name="autoprejud10" value="3"/></td>
        <td><input type="radio" name="autoprejud10" value="4"/></td>
      </tr>
      <tr>
        <td>11. Alguns alunos realizam outras atividades (assistem televisão, ouvem música ou navegam na internet) mesmo sabendo que tem pouco tempo para
          fazer um trabalho. Caso não se saiam bem, dizem que o trabalho era muito extenso.
        </td>
        <td><input type="radio" name="autoprejud11" value="1"/></td>
        <td><input type="radio" name="autoprejud11" value="2"/></td>
        <td><input type="radio" name="autoprejud11" value="3"/></td>
        <td><input type="radio" name="autoprejud11" value="4"/></td>
      </tr>
      <tr>
        <td>12. Alguns estudantes relatam que tem de ficar com os amigos e/ou com a namorado(a). Caso não façam um bom trabalho, dizem que não tiveram tempo
          para investir nos estudos.
        </td>
        <td><input type="radio" name="autoprejud12" value="1"/></td>
        <td><input type="radio" name="autoprejud12" value="2"/></td>
        <td><input type="radio" name="autoprejud12" value="3"/></td>
        <td><input type="radio" name="autoprejud12" value="4"/></td>
      </tr>
      <tr>
        <td>13. Alguns alunos não se preparam e então se sentem muito ansiosos no momento da realização de uma prova. Caso se saiam mal, dizem que a ansiedade os prejudicou.</td>
        <td><input type="radio" name="autoprejud13" value="1"/></td>
        <td><input type="radio" name="autoprejud13" value="2"/></td>
        <td><input type="radio" name="autoprejud13" value="3"/></td>
        <td><input type="radio" name="autoprejud13" value="4"/></td>
      </tr>
      <tr>
        <td>14. Alguns alunos estudam o conteúdo errado da prova. Caso não tenham um bom desempenho, dizem que foi essa a razão.</td>
        <td><input type="radio" name="autoprejud13" value="1"/></td>
        <td><input type="radio" name="autoprejud13" value="2"/></td>
        <td><input type="radio" name="autoprejud13" value="3"/></td>
        <td><input type="radio" name="autoprejud13" value="4"/></td>
      </tr>
      <tr>
        <td>15. Alguns alunos adiam a realização de algumas tarefas importantes até o limite do prazo estabelecido pelo professor.
          Caso se saiam mal, dizem que o trabalho foi feito de última hora.
        </td>
        <td><input type="radio" name="autoprejud15" value="1"/></td>
        <td><input type="radio" name="autoprejud15" value="2"/></td>
        <td><input type="radio" name="autoprejud15" value="3"/></td>
        <td><input type="radio" name="autoprejud15" value="4"/></td>
      </tr>
      <tr>
        <td>16. Alguns alunos não organizam bem seu tempo e então precisam ficar várias noites seguidas acordados para realizar um
          trabalho importante. Caso se saiam mal, dizem que estavam com muito sono.
        </td>
        <td><input type="radio" name="autoprejud16" value="1"/></td>
        <td><input type="radio" name="autoprejud16" value="2"/></td>
        <td><input type="radio" name="autoprejud16" value="3"/></td>
        <td><input type="radio" name="autoprejud16" value="4"/></td>
      </tr>
      <tr>
        <td>17. Alguns alunos ficam muito focados em detalhes não essenciais de uma atividade importante e acabam se dedicando menos ao
          seu conteúdo. Caso a nota não seja a esperada, dizem que não tiveram tempo de fazer um bom trabalho.
        </td>
        <td><input type="radio" name="autoprejud17" value="1"/></td>
        <td><input type="radio" name="autoprejud17" value="2"/></td>
        <td><input type="radio" name="autoprejud17" value="3"/></td>
        <td><input type="radio" name="autoprejud17" value="4"/></td>
      </tr>
      <tr>
        <td>18. Alguns estudantes não investem tempo suficiente na realização de um trabalho importante e se o resultado não é bom dizem que não se engajaram.</td>
        <td><input type="radio" name="autoprejud18" value="1"/></td>
        <td><input type="radio" name="autoprejud18" value="2"/></td>
        <td><input type="radio" name="autoprejud18" value="3"/></td>
        <td><input type="radio" name="autoprejud18" value="4"/></td>
      </tr>
      <tr>
        <td>19. Alguns alunos ficam lendo revistas de entretenimento durante as aulas. Caso se saiam mal dizem que foi porque não entenderam a matéria.</td>
        <td><input type="radio" name="autoprejud19" value="1"/></td>
        <td><input type="radio" name="autoprejud19" value="2"/></td>
        <td><input type="radio" name="autoprejud19" value="3"/></td>
        <td><input type="radio" name="autoprejud19" value="4"/></td>
      </tr>
    </tbody>
  </table>
  <div class="button-group">
    <button type="submit" class="btn btn-info" name="responder">Responder</button>
  </div>
</form>