<h1>ESCALA DE AVALIAÇÃO DAS ESTRATÉGIAS DE REGULAÇÃO DA MOTIVAÇÃO PARA ESTUDANTES UNIVERSITÁRIOS</h1>
<div class="description-box">
  <p class="foot-note">Autores: Christopher A. Wolters e Maria B. Benzon (2013)</p>
  <p class="foot-note">Tradução: Evely Boruchovitch, Natália Moraes Góes e Carolina Moreira Felicori (2016)</p>
  <p>Gostaríamos de saber o que você faz para lidar com a sua motivação no contexto acadêmico.</p>
  <p>
    Convidamos você a pensar em situações nas quais “não queira se esforçar muito” ou “não tenha
    vontade de terminar as suas tarefas acadêmicas”, mesmo quando “as tarefas ainda não foram finalizadas
    e você sabe que deveria continuar”.
  </p>
  <p>Após essa reflexão, por gentileza, responda às questões a seguir.</p>
  <p><strong>Orientações gerais para você responder às questões:</strong></p>
  <p>
    Leia, com atenção, cada uma das sentenças e circule apenas uma alternativa das opções, entre o número 1 (nunca) a 7 (sempre),
    indicando com que frequência você utiliza as estratégias apresentadas em cada item. Procure assinalar o número que mais lhe
    represente.  Quanto mais próximo de 1 você marcar a sua resposta, mais você indicará que nunca utiliza a estratégia descrita no item.
    Quanto mais próximo de 7 você marcar a sua resposta, mais você indicará que sempre utiliza a estratégia descrita no item.
  </p>
  <p>
    Lembre-se de que não existem respostas certas ou erradas. O importante é o que você realmente faz. Suas respostas são confidenciais.
    Por favor, seja o mais sincero (a) possível.
  </p>
  <p class="foot-note"><strong>Obrigada pela participação!</strong></p>
</div>
<form action="" method="POST">
  <table class="table questions">
    <thead>
      <th> </th>
      <th>1<br>Nunca</th>
      <th>2<br>----</th>
      <th>3<br>----</th>
      <th>4<br>----</th>
      <th>5<br>----</th>
      <th>6<br>----</th>
      <th>7<br>Sempre</th>
    </thead>
    <tbody>
      <tr>
        <td>1. Penso em situações nas quais seria útil conhecer os conteúdos e ter habilidades para lidar com eles.</td>
        <td><input type="radio" name="regulacao1" value="1"/></td>
        <td><input type="radio" name="regulacao1" value="2"/></td>
        <td><input type="radio" name="regulacao1" value="3"/></td>
        <td><input type="radio" name="regulacao1" value="4"/></td>
        <td><input type="radio" name="regulacao1" value="5"/></td>
        <td><input type="radio" name="regulacao1" value="6"/></td>
        <td><input type="radio" name="regulacao1" value="7"/></td>
      </tr>
      <tr>
        <td>2. Tento fazer o conteúdo parecer mais útil ao relacioná-lo com coisas que pretendo fazer em minha vida.</td>
        <td><input type="radio" name="regulacao2" value="1"/></td>
        <td><input type="radio" name="regulacao2" value="2"/></td>
        <td><input type="radio" name="regulacao2" value="3"/></td>
        <td><input type="radio" name="regulacao2" value="4"/></td>
        <td><input type="radio" name="regulacao2" value="5"/></td>
        <td><input type="radio" name="regulacao2" value="6"/></td>
        <td><input type="radio" name="regulacao2" value="7"/></td>
      </tr>
      <tr>
        <td>3. Faço um esforço para relacionar o que estamos aprendendo aos meus interesses pessoais.</td>
        <td><input type="radio" name="regulacao3" value="1"/></td>
        <td><input type="radio" name="regulacao3" value="2"/></td>
        <td><input type="radio" name="regulacao3" value="3"/></td>
        <td><input type="radio" name="regulacao3" value="4"/></td>
        <td><input type="radio" name="regulacao3" value="5"/></td>
        <td><input type="radio" name="regulacao3" value="6"/></td>
        <td><input type="radio" name="regulacao3" value="7"/></td>
      </tr>
      <tr>
        <td>4. Tento relacionar o conteúdo a ser aprendido com algo que gosto de fazer ou que considero interessante.</td>
        <td><input type="radio" name="regulacao4" value="1"/></td>
        <td><input type="radio" name="regulacao4" value="2"/></td>
        <td><input type="radio" name="regulacao4" value="3"/></td>
        <td><input type="radio" name="regulacao4" value="4"/></td>
        <td><input type="radio" name="regulacao4" value="5"/></td>
        <td><input type="radio" name="regulacao4" value="6"/></td>
        <td><input type="radio" name="regulacao4" value="7"/></td>
      </tr>
      <tr>
        <td>5. Digo a mim mesmo(a) que é importante aprender o conteúdo, porque precisarei dele mais tarde na vida.</td>
        <td><input type="radio" name="regulacao5" value="1"/></td>
        <td><input type="radio" name="regulacao5" value="2"/></td>
        <td><input type="radio" name="regulacao5" value="3"/></td>
        <td><input type="radio" name="regulacao5" value="4"/></td>
        <td><input type="radio" name="regulacao5" value="5"/></td>
        <td><input type="radio" name="regulacao5" value="6"/></td>
        <td><input type="radio" name="regulacao5" value="7"/></td>
      </tr>
      <tr>
        <td>6. Tento me convencer de que conhecer o conteúdo é relevante para mim. </td>
        <td><input type="radio" name="regulacao6" value="1"/></td>
        <td><input type="radio" name="regulacao6" value="2"/></td>
        <td><input type="radio" name="regulacao6" value="3"/></td>
        <td><input type="radio" name="regulacao6" value="4"/></td>
        <td><input type="radio" name="regulacao6" value="5"/></td>
        <td><input type="radio" name="regulacao6" value="6"/></td>
        <td><input type="radio" name="regulacao6" value="7"/></td>
      </tr>
      <tr>
        <td>7. Lembro a mim mesmo(a) o quanto é importante tirar notas boas. </td>
        <td><input type="radio" name="regulacao7" value="1"/></td>
        <td><input type="radio" name="regulacao7" value="2"/></td>
        <td><input type="radio" name="regulacao7" value="3"/></td>
        <td><input type="radio" name="regulacao7" value="4"/></td>
        <td><input type="radio" name="regulacao7" value="5"/></td>
        <td><input type="radio" name="regulacao7" value="6"/></td>
        <td><input type="radio" name="regulacao7" value="7"/></td>
      </tr>
      <tr>
        <td>8. Penso em como minha nota será afetada, se eu não fizer minhas leituras ou estudar.</td>
        <td><input type="radio" name="regulacao8" value="1"/></td>
        <td><input type="radio" name="regulacao8" value="2"/></td>
        <td><input type="radio" name="regulacao8" value="3"/></td>
        <td><input type="radio" name="regulacao8" value="4"/></td>
        <td><input type="radio" name="regulacao8" value="5"/></td>
        <td><input type="radio" name="regulacao8" value="6"/></td>
        <td><input type="radio" name="regulacao8" value="7"/></td>
      </tr>
      <tr>
        <td>9. Lembro a mim mesmo(a) o quanto é importante ir bem nas provas e nas tarefas deste curso.</td>
        <td><input type="radio" name="regulacao9" value="1"/></td>
        <td><input type="radio" name="regulacao9" value="2"/></td>
        <td><input type="radio" name="regulacao9" value="3"/></td>
        <td><input type="radio" name="regulacao9" value="4"/></td>
        <td><input type="radio" name="regulacao9" value="5"/></td>
        <td><input type="radio" name="regulacao9" value="6"/></td>
        <td><input type="radio" name="regulacao9" value="7"/></td>
      </tr>
      <tr>
        <td>10. Convenço a mim mesmo(a) a continuar estudando, quando penso em tirar boas notas.</td>
        <td><input type="radio" name="regulacao10" value="1"/></td>
        <td><input type="radio" name="regulacao10" value="2"/></td>
        <td><input type="radio" name="regulacao10" value="3"/></td>
        <td><input type="radio" name="regulacao10" value="4"/></td>
        <td><input type="radio" name="regulacao10" value="5"/></td>
        <td><input type="radio" name="regulacao10" value="6"/></td>
        <td><input type="radio" name="regulacao10" value="7"/></td>
      </tr>
      <tr>
        <td>11. Digo a mim mesmo(a) que devo continuar estudando para ir bem neste curso.</td>
        <td><input type="radio" name="regulacao11" value="1"/></td>
        <td><input type="radio" name="regulacao11" value="2"/></td>
        <td><input type="radio" name="regulacao11" value="3"/></td>
        <td><input type="radio" name="regulacao11" value="4"/></td>
        <td><input type="radio" name="regulacao11" value="5"/></td>
        <td><input type="radio" name="regulacao11" value="6"/></td>
        <td><input type="radio" name="regulacao11" value="7"/></td>
      </tr>
      <tr>
        <td>12. Prometo a mim mesmo(a) algum tipo de recompensa, se eu terminar as minhas leituras ou estudo.</td>
        <td><input type="radio" name="regulacao12" value="1"/></td>
        <td><input type="radio" name="regulacao12" value="2"/></td>
        <td><input type="radio" name="regulacao12" value="3"/></td>
        <td><input type="radio" name="regulacao12" value="4"/></td>
        <td><input type="radio" name="regulacao12" value="5"/></td>
        <td><input type="radio" name="regulacao12" value="6"/></td>
        <td><input type="radio" name="regulacao12" value="7"/></td>
      </tr>
      <tr>
        <td>13. Faço um acordo comigo mesmo(a) de que, se eu fizer uma parte da tarefa acadêmica, posso fazer algo divertido depois.</td>
        <td><input type="radio" name="regulacao13" value="1"/></td>
        <td><input type="radio" name="regulacao13" value="2"/></td>
        <td><input type="radio" name="regulacao13" value="3"/></td>
        <td><input type="radio" name="regulacao13" value="4"/></td>
        <td><input type="radio" name="regulacao13" value="5"/></td>
        <td><input type="radio" name="regulacao13" value="6"/></td>
        <td><input type="radio" name="regulacao13" value="7"/></td>
      </tr>
      <tr>
        <td>14. Digo a mim mesmo(a) que posso fazer alguma coisa de que gosto mais tarde, se agora eu fizer a tarefa de que preciso.</td>
        <td><input type="radio" name="regulacao14" value="1"/></td>
        <td><input type="radio" name="regulacao14" value="2"/></td>
        <td><input type="radio" name="regulacao14" value="3"/></td>
        <td><input type="radio" name="regulacao14" value="4"/></td>
        <td><input type="radio" name="regulacao14" value="5"/></td>
        <td><input type="radio" name="regulacao14" value="6"/></td>
        <td><input type="radio" name="regulacao14" value="7"/></td>
      </tr>
      <tr>
        <td>15. Estabeleço uma meta acerca do que preciso estudar e prometo a mim mesmo(a) uma recompensa, se alcançá-la.</td>
        <td><input type="radio" name="regulacao15" value="1"/></td>
        <td><input type="radio" name="regulacao15" value="2"/></td>
        <td><input type="radio" name="regulacao15" value="3"/></td>
        <td><input type="radio" name="regulacao15" value="4"/></td>
        <td><input type="radio" name="regulacao15" value="5"/></td>
        <td><input type="radio" name="regulacao15" value="6"/></td>
        <td><input type="radio" name="regulacao15" value="7"/></td>
      </tr>
      <tr>
        <td>16. Prometo a mim mesmo(a) que posso fazer algo que eu queira mais tarde, se eu terminar agora as tarefas acadêmicas propostas. </td>
        <td><input type="radio" name="regulacao16" value="1"/></td>
        <td><input type="radio" name="regulacao16" value="2"/></td>
        <td><input type="radio" name="regulacao16" value="3"/></td>
        <td><input type="radio" name="regulacao16" value="4"/></td>
        <td><input type="radio" name="regulacao16" value="5"/></td>
        <td><input type="radio" name="regulacao16" value="6"/></td>
        <td><input type="radio" name="regulacao16" value="7"/></td>
      </tr>
      <tr>
        <td>17. Tento me livrar de todas as distrações que estão ao meu redor.</td>
        <td><input type="radio" name="regulacao17" value="1"/></td>
        <td><input type="radio" name="regulacao17" value="2"/></td>
        <td><input type="radio" name="regulacao17" value="3"/></td>
        <td><input type="radio" name="regulacao17" value="4"/></td>
        <td><input type="radio" name="regulacao17" value="5"/></td>
        <td><input type="radio" name="regulacao17" value="6"/></td>
        <td><input type="radio" name="regulacao17" value="7"/></td>
      </tr>
      <tr>
        <td>18. Certifico-me de que tenho o mínimo de distrações possíveis.</td>
        <td><input type="radio" name="regulacao18" value="1"/></td>
        <td><input type="radio" name="regulacao18" value="2"/></td>
        <td><input type="radio" name="regulacao18" value="3"/></td>
        <td><input type="radio" name="regulacao18" value="4"/></td>
        <td><input type="radio" name="regulacao18" value="5"/></td>
        <td><input type="radio" name="regulacao18" value="6"/></td>
        <td><input type="radio" name="regulacao18" value="7"/></td>
      </tr>
      <tr>
        <td>19. Modifico o ambiente ao meu redor, de forma que fique mais fácil me concentrar nas tarefas acadêmicas.</td>
        <td><input type="radio" name="regulacao19" value="1"/></td>
        <td><input type="radio" name="regulacao19" value="2"/></td>
        <td><input type="radio" name="regulacao19" value="3"/></td>
        <td><input type="radio" name="regulacao19" value="4"/></td>
        <td><input type="radio" name="regulacao19" value="5"/></td>
        <td><input type="radio" name="regulacao19" value="6"/></td>
        <td><input type="radio" name="regulacao19" value="7"/></td>
      </tr>
      <tr>
        <td>20. Tento estudar num momento em que consigo ficar mais focado(a).</td>
        <td><input type="radio" name="regulacao20" value="1"/></td>
        <td><input type="radio" name="regulacao20" value="2"/></td>
        <td><input type="radio" name="regulacao20" value="3"/></td>
        <td><input type="radio" name="regulacao20" value="4"/></td>
        <td><input type="radio" name="regulacao20" value="5"/></td>
        <td><input type="radio" name="regulacao20" value="6"/></td>
        <td><input type="radio" name="regulacao20" value="7"/></td>
      </tr>
      <tr>
        <td>21. Deixo o estudo mais agradável ao transformá-lo em um jogo.</td>
        <td><input type="radio" name="regulacao21" value="1"/></td>
        <td><input type="radio" name="regulacao21" value="2"/></td>
        <td><input type="radio" name="regulacao21" value="3"/></td>
        <td><input type="radio" name="regulacao21" value="4"/></td>
        <td><input type="radio" name="regulacao21" value="5"/></td>
        <td><input type="radio" name="regulacao21" value="6"/></td>
        <td><input type="radio" name="regulacao21" value="7"/></td>
      </tr>
      <tr>
        <td>22. Tento transformar em um jogo a aprendizagem de um conteúdo ou a realização de uma tarefa.</td>
        <td><input type="radio" name="regulacao22" value="1"/></td>
        <td><input type="radio" name="regulacao22" value="2"/></td>
        <td><input type="radio" name="regulacao22" value="3"/></td>
        <td><input type="radio" name="regulacao22" value="4"/></td>
        <td><input type="radio" name="regulacao22" value="5"/></td>
        <td><input type="radio" name="regulacao22" value="6"/></td>
        <td><input type="radio" name="regulacao22" value="7"/></td>
      </tr>
      <tr>
        <td>23. Torno a realização da tarefa mais agradável, focando-me em alguma coisa de sua realização que seja divertida</td>
        <td><input type="radio" name="regulacao23" value="1"/></td>
        <td><input type="radio" name="regulacao23" value="2"/></td>
        <td><input type="radio" name="regulacao23" value="3"/></td>
        <td><input type="radio" name="regulacao23" value="4"/></td>
        <td><input type="radio" name="regulacao23" value="5"/></td>
        <td><input type="radio" name="regulacao23" value="6"/></td>
        <td><input type="radio" name="regulacao23" value="7"/></td>
      </tr>
      <tr>
        <td>24. Tento mostrar a mim mesmo(a) que realizar as atividades acadêmicas pode ser divertido.</td>
        <td><input type="radio" name="regulacao24" value="1"/></td>
        <td><input type="radio" name="regulacao24" value="2"/></td>
        <td><input type="radio" name="regulacao24" value="3"/></td>
        <td><input type="radio" name="regulacao24" value="4"/></td>
        <td><input type="radio" name="regulacao24" value="5"/></td>
        <td><input type="radio" name="regulacao24" value="6"/></td>
        <td><input type="radio" name="regulacao24" value="7"/></td>
      </tr>
      <tr>
        <td>25. Penso em uma maneira de as tarefas acadêmicas parecerem mais agradáveis para terminá-las.</td>
        <td><input type="radio" name="regulacao25" value="1"/></td>
        <td><input type="radio" name="regulacao25" value="2"/></td>
        <td><input type="radio" name="regulacao25" value="3"/></td>
        <td><input type="radio" name="regulacao25" value="4"/></td>
        <td><input type="radio" name="regulacao25" value="5"/></td>
        <td><input type="radio" name="regulacao25" value="6"/></td>
        <td><input type="radio" name="regulacao25" value="7"/></td>
      </tr>
      <tr>
        <td>26. Convenço a mim mesmo(a) a me empenhar apenas para ver o quanto posso aprender.</td>
        <td><input type="radio" name="regulacao26" value="1"/></td>
        <td><input type="radio" name="regulacao26" value="2"/></td>
        <td><input type="radio" name="regulacao26" value="3"/></td>
        <td><input type="radio" name="regulacao26" value="4"/></td>
        <td><input type="radio" name="regulacao26" value="5"/></td>
        <td><input type="radio" name="regulacao26" value="6"/></td>
        <td><input type="radio" name="regulacao26" value="7"/></td>
      </tr>
      <tr>
        <td>27. Digo a mim mesmo(a) que devo continuar estudando apenas para aprender o máximo que puder.</td>
        <td><input type="radio" name="regulacao27" value="1"/></td>
        <td><input type="radio" name="regulacao27" value="2"/></td>
        <td><input type="radio" name="regulacao27" value="3"/></td>
        <td><input type="radio" name="regulacao27" value="4"/></td>
        <td><input type="radio" name="regulacao27" value="5"/></td>
        <td><input type="radio" name="regulacao27" value="6"/></td>
        <td><input type="radio" name="regulacao27" value="7"/></td>
      </tr>
      <tr>
        <td>28. Desafio a mim mesmo(a) a terminar as tarefas acadêmicas e aprender o máximo possível.</td>
        <td><input type="radio" name="regulacao28" value="1"/></td>
        <td><input type="radio" name="regulacao28" value="2"/></td>
        <td><input type="radio" name="regulacao28" value="3"/></td>
        <td><input type="radio" name="regulacao28" value="4"/></td>
        <td><input type="radio" name="regulacao28" value="5"/></td>
        <td><input type="radio" name="regulacao28" value="6"/></td>
        <td><input type="radio" name="regulacao28" value="7"/></td>
      </tr>
      <tr>
        <td>29. Convenço a mim mesmo(a) a estudar arduamente, visando somente a aprendizagem.</td>
        <td><input type="radio" name="regulacao29" value="1"/></td>
        <td><input type="radio" name="regulacao29" value="2"/></td>
        <td><input type="radio" name="regulacao29" value="3"/></td>
        <td><input type="radio" name="regulacao29" value="4"/></td>
        <td><input type="radio" name="regulacao29" value="5"/></td>
        <td><input type="radio" name="regulacao29" value="6"/></td>
        <td><input type="radio" name="regulacao29" value="7"/></td>
      </tr>
      <tr>
        <td>30. Digo a mim mesmo(a) que devo estudar apenas para aprender o máximo que eu puder.</td>
        <td><input type="radio" name="regulacao30" value="1"/></td>
        <td><input type="radio" name="regulacao30" value="2"/></td>
        <td><input type="radio" name="regulacao30" value="3"/></td>
        <td><input type="radio" name="regulacao30" value="4"/></td>
        <td><input type="radio" name="regulacao30" value="5"/></td>
        <td><input type="radio" name="regulacao30" value="6"/></td>
        <td><input type="radio" name="regulacao30" value="7"/></td>
      </tr>
    </tbody>
  </table>
  <div class="button-group">
    <button type="submit" class="btn btn-info" name="responder">Responder</button>
  </div>
</form>