<h1 class="purple-text">Apresentação da Pesquisa</h1>
<p>
	A pesquisa Fatores Associados à Autorregulação da Aprendizagem de Estudantes Universitários tem como objetivo investigar os fatores cognitivos, metacognitivos, 
	motivacionais e afetivos associados à aprendizagem autorregulada de estudantes universitários, provenientes de diferentes estados brasileiros. 
	Além disso, visa contribuir para melhoria e a mensuração mais integrada desses fatores no Brasil.
</p>

<p>
	A aprendizagem autorregulada é o processo pelo qual indivíduos ativam, orientam e monitoram sua própria aprendizagem. Envolve cognição, metacognição, motivação, 
	afetividade, ação, interação social, entre outros fatores. É uma forma de aprendizagem desejável na atualidade, requerendo que o estudante participe ativamente 
	de seu processo de aprendizagem (Zimmerman, 1986; Zimmerman & Schunk, 2011). A importância da aprendizagem autorregulada é reconhecida entre pesquisadores, 
	sobretudo porque existe consenso de que os processos autorregulatórios podem ser ensinados durante a escolarização formal. Esses processos fortalecem a 
	capacidade de aprender e de processar a informação de estudantes, que nem sempre os utilizam espontaneamente. Há evidências de que a aprendizagem autorregulada 
	contribui para empoderar estudantes com risco insucesso no contexto educativo.
</p>

<p>
	A presente pesquisa conta com o apoio financeiro do CNPq (Edital Universal, 2016). Inclui a participação de uma equipe de pesquisadores de várias universidades 
	brasileiras (Ver também Universidades Participantes) e conta com a parceria da Texas State University, San Marcos, Estados Unidos. Acredita-se que os dados 
	obtidos na pesquisa serão traduzidos em informações valiosas para o fortalecimento da aprendizagem de estudantes universitários, de modo geral e daqueles que 
	aspiram ser professores. Serão úteis também para o avanço da mensuração das variáveis associadas à autorregulação da aprendizagem de forma válida e confiável no país.
</p>
<p>
	A pesquisa requer principalmente que o universitário responda a duas escalas Likert sobre os principais fatores que favorecem e/ou dificultam a sua aprendizagem. 
	Mais precisamente, as escalas visam obter dados acerca de como o universitário estuda, aprende, processa a informação, lida com emoções relacionadas ao contexto 
	educativo, gerencia o seu tempo, bem como a respeito das características de sua autoeficácia para aprendizagem, da sua motivação para aprender, do seu uso de 
	estratégias para regulá-la, entre outras.
</p>
<p>
	Ao participar da pesquisa, ao mesmo tempo em que o estudante universitário colabora com o avanço do conhecimento acerca da aprendizagem autorregulada, no contexto 
	brasileiro, recebe imediatamente, por e-mail, resultados e informações importantes, em linhas gerais, sobre a maneira pela qual aprende. Recebe também orientações 
	que podem ser úteis para melhorar a sua aprendizagem.
</p>
<p>
	Para mais informações sobre esse projeto, entre em contato com a Professora Dra. Evely Boruchovitch, por meio do seguinte endereço eletrônico: evely@unicamp.br.
</p>