<div id="header">
	<img src="/img/lassi.png" width="50%" />
</div>
<div class="justify">
	<p>Por <strong>Claire E. Weinstein, Ph.D.,</strong> Professor Emeritus, The University of Texas at Austin</p>
	<p> <strong>David R. Palmer, Ph.D.</strong> Principal, David Palmer Consulting</p>
	<p> <strong>Taylor W. Acee, Ph.D.</strong> Associate Professor, Texas State University</p>
	<p>Traduzido e adaptado por Evely Boruchovitch, Carolina Moreira Felicori, Natália Moraes Góes e Taylor W. Acee, 2018</p>
	<h6>Instruções</h6>
	<p>
		O Inventário de Estratégias de Estudo e Aprendizagem é planejado para coletar informações sobre práticas e atitudes de estudo 
	e aprendizagem. A seguir, várias informações relacionadas à	sua aprendizagem e ao seu estudo serão apresentadas.
	</p>
	<p>Você deverá ler cada afirmação e, em seguida, selecionar uma resposta de acordo com as seguintes opções:</p>
	<p>
		<input type="radio" name="instrucao" disabled> Raramente me descreve <br>
		<input type="radio" name="instrucao" disabled> Geralmente não me descreve<br>
		<input type="radio" name="instrucao" disabled> Às vezes me descreve<br>
		<input type="radio" name="instrucao" disabled> Geralmente me descreve<br>
		<input type="radio" name="instrucao" disabled> Quase sempre me descreve		
	</p>
	<p>
		Para ajudá-lo a escolher qual opção selecionar, nós gostaríamos de explicar o que significa cada termo.
	</p>
	<ul>
		<li>Raramente me descreve, não significa necessariamente que a afirmação nunca descreveria você, mas que seria raramente verdadeira.</li>
		<li>Geralmente não me descreve, significa que, geralmente, a afirmação não seria verdadeira sobre você</li>
		<li>Às vezes me descreve, significa que, às vezes, a afirmação seria verdadeira sobre você.</li>
		<li>Geralmente me descreve, significa que, geralmente, a afirmação seria verdadeira sobre você.</li>
		<li>Quase sempre me descreve, não significa necessariamente que a afirmação sempre descreveria você, mas que seria quase sempre verdadeira sobre você.</li>
	</ul>
	<div style="text-align:center;"><a href="{{ @redirect }}" role="button" class="btn btn-info">Continuar para o LASSI</a></div>
</div>