<h1 class="purple-text">{{ @questionario.titulo }}</h1>
<h4 style="text-align: center">Criado por {{ @questionario.autores }}; <check if="{{ @questionario.tradutores }}">Traduzida e adaptada por {{ @questionario.tradutores }}</check></h4>
<div class="description-box">
  <p>
    {{ @questionario.descricao | raw }}
  </p>
</div>
<div id="questions-container">
  <form action="/responder" method="POST">
    <input type="hidden" name="participante" value="{{ @SESSION.participante }}">
    <input type="hidden" name="questionario" value="{{ @questionario.id }}">
    <repeat group="{{ @questoes }}" key="{{ @num }}" value="{{ @questao }}">
      <p class="question-p">
        <span class="purple-text">{{ @questao.ordem }}.</span> {{ @questao.questao }}
      </p>
      <input type="hidden" name="questoes[]" value="{{ @questao.id }}">
      <div class="options-group">
        <repeat group="{{ @alternativas }}" value="{{ @alternativa }}">
          <p><input type="radio" name="questao{{ @questao.id }}" value="{{ @alternativa.id }}" required/> {{  @alternativa.alternativa  }}</p>  
        </repeat>
      </div>
    </repeat>
    <div class="button-group">
      <button type="submit" class="btn btn-info" name="responder">Responder</button>
    </div>    
  </form>
</div>