<a href="/sobre/universidades/2" class="link">Opção 2</a>
<br>
<h1 class="purple-text">Universidades Parcipantes</h1>


<h3>Universidade Estadual de Campinas</h3>
<p>
	<strong>Profa Dra Evely Boruchovitch</strong>- Professora Titular da Faculdade de Educação- (Coordenadora Geral do Projeto). Contato: evely@unicamp.br
</p>
<h4>Equipe</h4>
<p>
	<strong>Pós-doutorandos</strong><br>
	Profa Dra Liz Cristiane Dias (UFpel)<br>
	Prof Dr Guilherme Cordeiro da Graça de Oliveira (UFRJ)<br>
</p>
<p>
	<strong>Doutorandos</strong><br>
	Angela Regina dos Reis Santos<br>
	Bruna Casiraghi (co-orientação)<br>
	Carolina Moreira Felicori<br>
	Natália Moraes Góes
</p>
<p>
	<strong>Mestrandos</strong><br>
	Ana Maria Calixto Dantas<br>
	Érica Medeiros<br>
	Rosinete Setubal<br>
</p>
<p>
	<strong>Apoio Técnico</strong><br>
	Vinícius Daldon (Bolsista SAE)
</p>

<h3>Universidades Co-participantes- Pesquisadores Estrangeiros</h3>

<p>
<strong>Profa Dra Ana Margarida da Veiga Simão</strong>. Profa Catedrática do Instituto de Psicologia da
Universidade de Lisboa.
</p>
<p>
<strong>Profa Dra Claire Helen Weinstein</strong>- Professora Emérita da University of Texas, Austin (em
Memória)
</p>
<p>
<strong>Prof. Dr Hefer Bembenutty</strong> Professor Assistente na área de Educational Psychology at
Queens College of The City University of New York in the Department of Secondary and
Youth Services.
</p>
<p>
<strong>Profa Dra Lucia C. Miranda.</strong> Professora da Universidade da Madeira, Portugal
</p>
<p>
<strong>Prof Dr Taylor W. Acee</strong> Professor Associado Department of Curriculum and Instruction in the
College of Education at Texas State University - San Marcos.
</p>

<h3>Universidades Co-participantes- Pesquisadores Nacionais</h3>

<p>
<strong>Profa Dra Acacia Aparecida Angeli dos Santos</strong>- Professora Titular da Universidade São
Francisco na graduação e no Programa de Pós-Graduação Stricto Sensu em Psicologia.
</p>
<p>
<strong>Profa Dra Amelia Carolina Machado</strong>-Professora da Faculdade Instituto Superior de
Educação do Paraná
</p>
<p>
<strong>Profa Dra Danielle Ribeiro Ganda</strong>- Professora do Curso de Psicologia da Universidade
Patos de Minas.
</p>
<p>
<strong>Profa Dra Elis Regina da Costa</strong>-Professora Adjunta da Faculdade de Educação da
Universidade Federal de Goias (UFG- Regional Catalão).
</p>
<p>
<strong>Prof Dr Guilherme Cordeiro da Graça de Oliveira</strong>- Professor do Instituto de Química da
Universidade Federal do Rio de Janeiro (UFRJ)
</p>
<p>
<strong>Prof. Dr José Aloyseo Bzuneck</strong> Professor titular do Programa de Pós-graduação em
Educação da Universidade Estadual de Londrina.
</p>
<p>
<strong>Profa Dra Liz Cristiane Dias</strong>- Professora do Programa de Pós-graduação em Geografia
da Universidade Federal de Pelotas (UFpel).
</p>
<p>
<strong>Profa Dra Lourdes Maria Bragagnolo Frison</strong>- Professora Adjunta do Departamento de
Fundamentos da Faculdade de Educação da Universidade Federal de Pelotas - (UFpel).
</p>
<p>
<strong>Professora Dra Maria Aparecida Mezzalira Gomes</strong>- Professora aposentada da
Universidade Padre Anchieta de Jundiaí
</p>
<p>
<strong>Profa Dra Patrícia W. Schelini.</strong> Professora Associada 1 do Departamento de Psicologia da
Universidade Federal de São Carlos (UFSCar).
</p>
<p>
<strong>Profa Dra Paula Mariza Zedu Alliprandini</strong>- Professora da Faculdade de Educação e do
Programa de Pós-graduação em Educação da Universidade Estadual de Londrina (UEL).
</p>
<p>
<strong>Profa Dra Sueli Edi Rufini</strong>- Professora Associada da Faculdade de Educação e do Programa
de Pós-graduação em Educação da Universidade Estadual de Londrina (UEL).
</p>

<h3>Endereços dos Comitês de Ética- Universidades Participantes e Co-Participantes</h3>
<p>

<u>Contatos do Comitê de Ética UNICAMP:</u> Rua Tessália Vieira de Camargo, 126 - CEP:13083-887, Campinas -
SP. Telefones: (019)3521-8936 ou (019) 3521-7187. E-mail: cep@fcm.unicamp.br
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Instituto Federal de Educação, Ciências e Tecnologia do Piauí</strong>
Avenida Presidente Jânio Quadros, 300. CEP: 64053-390, Santa Isabel, Teresina (PI).
Telefone: (86) 3237-2332
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade Estadual de Londrina</strong>
Comitê de Ética em Pesquisa Envolvendo Seres Humanos - CEP/UEL LABESC - Laboratório Escola de Pós-
Graduação - sala 14 - ao lado do Banco Itaú. Campus Universitário - Rodovia Celso Garcia Cid, Km 380 (PR
445) Londrina- Pr - CEP: 86057-970. Telefone: (43) 3371-5455. Pesquisadora responsável: Paula Mariza Zedu
Alliprandini.
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade Federal de Pelotas</strong>
Rua Gonçalves Chaves, 457. CEP: 96015-560. Centro, Pelotas, RS.
Telefone: (53) 3222-6741. Pesquisadora responsável: Lourdes Maria Bragagnolo Frison. 
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade Federal do Rio de Janeiro</strong>
Prédio da Decania do CFCH – Praia Vermelha 3º andar – Sala 40. Telefone: (21) 3938-5167. Avenida
Venceslau Brás, 71. Prédio da Direção 2º andar – Sala do CEP. Campus Praia Vermelha – Botafogo. Telefone:
(21) 3938-5510. Rua Afonso Cavalcanti, 275. Cidade Nova. Telefone: (21) 3938-8999. Rua Bruno Lobo, 50.
Cidade Universitária. Telefone: (21) 3938-6129. Pesquisador responsável: Guilherme Cordeiro da Graça de
Oliveira.
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade Federal de São Carlos</strong>
Pró-reitoria de Pesquisa – ProPq. Rodovia Washington Luis, s/n. Km. 235. CEP: 13565-905. São Carlos, SP.
Telefone: (16) 3351-8028. Pesquisadora responsável: Patricia W. Schelini.
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade Federal de Goiás</strong>
Campus Catalão Pró-reitoria de Pesquisa e Inovação. Universidade Federal de Goiás. Caixa Postal: 131, Prédio
da Reitoria, Piso 1 Campus II (Samambaia). CEP: 74001-970. Goiânia, Goiás, Brasil. Telefone: (62) 3521-1215.
Pesquisadora responsável: Elis Regina da Costa.
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade São Francisco – Campus Campinas</strong>
Universidade São Francisco. Av. São Francisco de Assis, 218, Jardim São José – Bragança Paulista – SP. CEP:
12916-900. Telefone: (11) 2454-8981. Pesquisadora responsável: Acácia Aparecida Angeli dos Santos.
</p>

<p>A pesquisa prevê a colaboração de outras possíveis universidades</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade Federal do Rio Grande do Sul - UFRGS</strong>
Avenida Paulo Gama, 110 - Sala 321. Prédio Anexo 1 da Reitoria - Campus Centro. Porto Alegre/RS - CEP:
90040-060
Telefone:(51) 3308 3738
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade Federal de Rio Grande - FURG</strong>
Rua Visconde de Paranaguá, 102. Hospital Universitário Dr. Miguel Riet Corrêa Júnior - 1º Andar (Em frente ao
laboratório). Rio Grande, RS CEP: 96201-900
Telefone: (53) 3237.4652
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade Federal de Santa Maria - UFSM</strong>
Avenida Roraima, 1000 - Prédio da Reitoria - 2º andar - Sala Cômite de Ética. Cidade Universitária - Bairro
Camobi. CEP: 97105-900 - Santa Maria – RS. Telefone: (55) 3220 9362
</p>
<p>
<u>Contato do Comitê de Ética:</u> <strong>Universidade Federal da Fronteira Sul – UFFS</strong>
Universidade Federal da Fronteira Sul, Bloco da Biblioteca, Sala 310, 3º andar, Rodovia SC 484 Km 02,
Fronteira Sul. CEP: 89815-899, Chapecó, Santa Catarina, Brasil. Telefone: (49) 2049-3745.
</p>

