<div id="header">
	<h1>TERMO DE CONSENTIMENTO LIVRE E ESCLARECIDO</h1>
</div>

<div class="justify">
	<p>
		Dou meu consentimento livre e esclarecido, para participar como voluntário do projeto de pesquisa Fatores Associados à Autorregulação da Aprendizagem de 
		Estudantes Universitários, sob a responsabilidade da pesquisadora Profa. Dra. Evely Boruchovitch do Programa de Pós-graduação em Educação da Universidade 
		Estadual de Campinas.
	</p>
	<p>Assinando este Termo de Consentimento, estou ciente de que:</p>
	<ol>
		<li>A pesquisa foi delineada com a finalidade de contribuir para a melhoria da aprendizagem de estudantes universitários;</li>
		<li>
			O objetivo da pesquisa é identificar as variáveis-chave favorecedoras da aprendizagem autorregulada em alunos de cursos de bacharelado e licenciatura, 
			com a finalidade de nortear propostas pedagógicas que possam melhorar a capacidade de aprender e ensinar do futuro professor. Pretende, também, contribuir
			para a tradução, adaptação e validação de instrumentos de medidas relacionados à aprendizagem autorregulada para o uso confiável no Brasil;
		</li>
		<li>
			A pesquisa requer que você responda aos seguintes instrumentos: Inventário de Estratégias de Estudo e Aprendizagem (LASSI), uma questão de múltipla
			escolha sobre a autopercepção de desempenho, questões referentes a dados demográficos e algumas das escalas que se seguem: a de adiamento de recompensa 
			acadêmica, a de autoeficácia para aprendizagem autorregulada, a de estratégias autoprejudiciais, a de motivação para a leitura, a de crenças sobre 
			inteligência e a de avaliação das estratégias de regulação da motivação. O tempo total estimado é de 20 a 45 minutos. A aplicação poderá ocorrer durante o 
			horário das aulas, ou em momentos acordados com os professores das disciplinas ou com as instituições participantes, de forma a interferir minimamente nas 
			aulas e na rotina acadêmica dos estudantes. É possível, também, que você receba o convite e o link para a participação na pesquisa via seu e-mail institucional.
			A ordem de aplicação dos instrumentos começará sempre pelas questões demográficas, seguidas da questão referente à autopercepção de desempenho e do Inventário de
			Estratégias de Estudo e Aprendizagem (LASSI). Em relação aos demais instrumentos, somente alguns serão aplicados, em ordem e combinação aleatória. A coleta será 
			realizada on-line, por meio de um link a ser disponibilizado ou por meio de material impresso;
		</li>
		<li>Não existirão outros procedimentos alternativos para coleta dos dados;</li>
		<li>Não há riscos físicos ou psicológicos previsíveis decorrentes da sua participação na pesquisa;</li>
		<li>Não receberei remuneração por participar desta pesquisa;</li>
		<li>
			Os meus dados pessoais serão mantidos em total sigilo e os resultados obtidos na pesquisa serão analisados em termos de se alcançar os objetivos do 
			trabalho, sendo divulgados unicamente em eventos e trabalhos científicos, sem qualquer identificação dos participantes;
		</li>
		<li>
			Poderei entrar em contato com a responsável pelo estudo, Profa. Dra. Evely Boruchovitch, para esclarecer quaisquer dúvidas ou obter informações adicionais, 
			pelo telefone (019) 3521-5555 e/ou pelo e-mail: evely@unicamp.br;
		</li>
		<li>
			Poderei entrar em contato com o Comitê de Ética em Pesquisa (CEP) da Universidade Estadual de Campinas, para apresentar recursos ou reclamações 
			referentes à pesquisa;
		</li>
		<li>
			Obtive todas as informações necessárias para poder decidir conscientemente sobre a minha participação nesta pesquisa. Contudo, estou livre para 
			interromper a minha participação, a qualquer momento, sem qualquer prejuízo para mim.
		</li>
	</ol>
	<p>Diante do exposto, concordo em participar dessa pesquisa:</p>
	<div class="button-group">
		<form action="" method="POST">
			<input type="hidden" name="aceito" value="1"/>
			<button type="submit" name="botaoaceito" class="btn btn-info"><span class="fa fa-thumbs-up"></span> Aceito</button>
		</form>
		<form action="/finalizar/{{ @who }}" method="POST">
			<input type="hidden" name="naoaceito" value="1"/>		
			<button type="submit" name="botaonaceito" class="btn btn-danger"><span class="fa fa-thumbs-down"></span> Não Aceito</button>
		</form>
	</div>
</div>