<div id="header">
	<h1>TERMO DE CONSENTIMENTO LIVRE E ESCLARECIDO</h1>
</div>

<div class="justify">
	<p>
		Você está sendo convidado(a) a participar como voluntário do projeto de pesquisa Fatores Associados à Autorregulação da Aprendizagem de Estudantes Universitários,
		sob a responsabilidade da pesquisadora Profa. Dra. Evely Boruchovitch do Programa de Pós-graduação em Educação da Universidade Estadual de Campinas.
	</p>
	<p>Concordando com este Termo de Consentimento, você afirma estar ciente de que:</p>
	<ol>
		<li>A pesquisa foi delineada com a finalidade de contribuir para a melhoria da aprendizagem de estudantes universitários;</li>
		<li>
			O objetivo da pesquisa é identificar as variáveis-chave favorecedoras da aprendizagem autorregulada em alunos de cursos de bacharelado e licenciatura, 
			com a finalidade de nortear propostas pedagógicas que possam melhorar a capacidade de aprender dos estudantes universitários e de ensinar do futuro 
			professor. Pretende, também, contribuir para a tradução, adaptação e validação de instrumentos de medidas relacionados à aprendizagem autorregulada para o
			uso confiável no Brasil;
		</li>
		<li>
			A pesquisa requer que você responda aos seguintes instrumentos: Inventário de Estratégias de Estudo e Aprendizagem (LASSI), uma questão de múltipla escolha 
			sobre a autopercepção de desempenho, questões referentes a dados demográficos e uma escala, em ordem e combinação aleatória, entre as que se seguem: a de 
			adiamento de recompensa acadêmica, a de autoeficácia para aprendizagem autorregulada, a de estratégias autoprejudiciais, a de motivação para a leitura, 
			a de crenças sobre inteligência, a de avaliação das estratégias de regulação da motivação, a de motivações e atitudes em relação ao estudo (SRLI) e um 
			questionário de estratégias de autorregulação do controle do desempenho. O tempo total estimado para responder à pesquisa é de 20 a 45 minutos.
		</li>
		<li>
			A aplicação poderá ocorrer durante o horário das aulas, ou em momentos acordados com os professores das disciplinas ou com as instituições participantes, 
			de forma a interferir minimamente nas aulas e na sua rotina acadêmica. A coleta será realizada on-line, por meio de um link a ser disponibilizado 
			no seu e-mail institucional, ou por meio de material impresso. Não existirão outros procedimentos alternativos para coleta dos dados;
		</li>
		<li>Não há riscos físicos ou psicológicos previsíveis decorrentes da sua participação na pesquisa;</li>
		<li>Não receberá remuneração por participar desta pesquisa;</li>
		<li>
			Os seus dados pessoais serão mantidos em total sigilo e os resultados obtidos na pesquisa serão analisados em termos de se alcançar os objetivos do trabalho,
			sendo divulgados unicamente em eventos e trabalhos científicos, sem qualquer identificação;
		</li>
		<li>
			Poderá entrar em contato com a responsável pelo estudo, Profa. Dra. Evely Boruchovitch, para esclarecer quaisquer dúvidas ou obter informações adicionais, pelo 
			telefone (019) 3521-5555 e/ou pelo e-mail: evely@unicamp.br;
		</li>
		<li>
			Poderá entrar em contato com o Comitê de Ética em Pesquisa (CEP) da Universidade Estadual de Campinas, para apresentar recursos ou reclamações referentes à pesquisa, 
			pelo telefone: (19) 3521-8936 ou (19) 3521-7187 ou pelo e-mail: cep@fcm.unicamp.br ou com o Comitê de Ética da sua universidade, cujo endereço está no Menu: Sobre a 
			Pesquisa, em Universidades Participantes.
		</li>
		<li>
			Obteve todas as informações necessárias para poder decidir conscientemente sobre a sua participação nesta pesquisa. Contudo, está livre para interromper a sua 
			participação, a qualquer momento, sem qualquer prejuízo para você.
		</li>
	</ol>
	<p>Você gostaria de participar dessa pesquisa?</p>
	<div class="row justify-content-center">
		<div class="col-md-2">
			<form action="" method="POST">
				<input type="hidden" name="aceito" value="1"/>
				<button type="submit" name="botaoaceito" class="btn btn-info"><span class="fa fa-thumbs-up"></span> Quero participar</button>
			</form>
		</div>
		<div class="col-md-2">
			<form action="/finalizar/{{ @who }}" method="POST">
				<input type="hidden" name="naoaceito" value="1"/>		
				<button type="submit" name="botaonaceito" class="btn btn-danger"><span class="fa fa-thumbs-down"></span> Não quero participar</button>
			</form>
		</div>
	</div>
</div>