<h1>Universidades Participantes</h1>

<form action="/novauniversidade" method="POST">
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label for="universidade">Universidade</label>
		  <input type="text" class="form-control" name="universidade" id="universidade" required/>
		</div>
		<div class="form-group col-md-6">
		  <label for="responsavel">Prof. Responsável</label>
		  <input type="text" name="responsavel" class="form-control" id="responsavel" required/>
		</div>
	</div>
	<div class="button-group">
	  <button type="submit" name="concluir" class="btn btn-primary">Incluir</button>
	</div>	
</form>